@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

header {
  padding: 3rem 2rem 0;
  color: #FFFFFF;
  background-color: #191633;
}

hr {
  border: 2px solid #FFFFFF;
  margin-top: 2rem;
}

main {
  color: #FFFFFF;
  background: linear-gradient(#191633, #3A5489);
  padding-bottom: 3rem;
}

h2 {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

a {
  padding: 1rem;
  border-radius: 2rem;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #7029B0;
}

img {
  width: 300px;
  margin-bottom: 2rem;
  border-radius: 1rem;
  transition: scale 1s ease-in-out;
}

img:hover {
  scale: 1.25;
}

@media (min-width: 768px) {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 2560px) {
  #css-dev {
    grid-template-columns: repeat(5, 1fr);  
  }

  img {
    width: 450px;
  }
}